.about {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.about-text {
  margin-bottom: 1.2rem;
}

.read-more-btn {
  background: none;
  border: 1px solid #22d3ee;
  color: #22d3ee;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
}
