* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: radial-gradient(circle at top, #062e1f, #02130c);
  color: #e5fff4;
}
